---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import PrincipalServices from "../../components/principalServices.astro";
import I from "../../../utils/translate";

const lang = "en";
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <BaseHead title="Services" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main
      class="text-custom-beige-100 max-w-[1300px] m-auto px-4 sm:px-12 pt-10"
    >
      <div>
        <div class="relative w-full">
          <div
            class="absolute bg-gradient-to-l from-custom-green-900 to-transparent w-full h-full z-40 opacity-50"
          >
          </div>
          <div class="min-h-[220px] sm:min-h-[350px] md:min-h-[450px]">
            <picture>
              <img src="/servicesHeroImage.jpg" class="z-0" alt="" />
            </picture>
          </div>
          <div
            class="absolute top-[50%] -translate-y-[50%] right-[8%] z-50 w-fit text-right"
          >
            <h1>
              {I("Imaginer", lang)},<br />
              {I("générer", lang)}<br />
              {I("et mesurer", lang)}<br />
              {I("l'impact social", lang)}
            </h1>
          </div>
        </div>
      </div>
      <div class="px-4 sm:px-12 md:px-20 py-20">
        <p class="leading-relaxed">
          {
            I(
              "Nous ne sommes pas des consultants dont l’intimidant plan stratégique fait en sorte qu’on ne sait plus par où commencer. L’accompagnement que propose Plan humain vise à garder les choses simples, à se donner suffisamment de recul, à définir des objectifs clairs et des étapes clés – parfois aussi à se challenger. Nous tirons notre satisfaction tant de votre persévérance que de vos avancées.",
              lang
            )
          }
        </p>
      </div>
      <div class="w-full bg-custom-green-900 px-0 sm:px-12 md:px-20 py-20">
        <div class="px-4 sm:px-0 flex flex-col md:flex-row">
          <div class="md:w-5/12">
            <h3>{I("LE MEILLEUR PLAN EST HUMAIN", lang)}</h3>
            <a href="/contact">
              <div
                class="w-fit border-2 border-custom-beige-100 rounded-full flex items-center relative mt-5 p-4 pl-3 pr-5"
              >
                <h6 class="truncate">
                  {I("Parlez-nous de votre projet", lang)}
                </h6>
                <picture class="absolute w-fit right-2.5">
                  <img src="/arrow.png" class="w-1" alt="right arrow" />
                </picture>
              </div>
            </a>
          </div>
          <div class="md:w-7/12">
            <p class="pt-5 md:pt-0 md:pl-8">
              {
                I(
                  "Au-delà de l’impact sur le plan communautaire, notre équipe expérimentée veille aussi à ce que l’engagement social entraine des retombées positives sur le plan de l’attraction et de la rétention de talents, sur le plan de l’image et de la réputation, tout comme sur le plan de la performance financière.",
                  lang
                )
              }
            </p>
          </div>
        </div>
      </div>
      <PrincipalServices lang={lang} />
    </main>
    <Footer />
  </body>
</html>
