---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import I from "../../utils/translate";
import Button from "../components/Button.astro";
const lang = "fr";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="Nous joindre | Plan humain"
      description="Partout à travers le Québec, nous aidons les entreprises  à atteindre leurs objectifs d’engagement social. Discutons de vos aspirations et priorités."
    />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main
      class="text-custom-beige-100 max-w-[1300px] m-auto px-4 sm:px-12 pt-0 sm:pt-10 min-h-screen"
    >
      <div class="h-full shadow-md">
        <div class="relative w-full h-full max-h-[1200px]">
          <div
            class="absolute bg-gradient-to-r from-custom-green-900 to-transparent w-full h-full z-40 opacity-60"
          >
          </div>
          <div class="sm:h-[350px] md:h-[450px] lg:h-[650px]">
            <picture>
              <!-- <source
                srcset="/contactUsSmallImage.webp"
                media="(max-width: 650px)"
                type="image/webp"
              /> -->
              <!-- <source
                srcset="contactUsSmallImage.png"
                media="(max-width: 650px)"
                type="image/png"
              /> -->
              <source srcset="/contactUsImage.webp" type="image/webp" />
              <img
                src="/header_contact.jpg"
                class="z-30 h-full object-cover"
                alt=""
              />
            </picture>
          </div>
          <div
            class="absolute top-[50%] -translate-y-[50%] left-[1.6%] sm:left-[8%] z-50 w-fit"
          >
            <h1>
              {I("Commencer", lang)}<br />
              {I("quelque part", lang)},<br />
              {I("c'est plus facile ici.", lang)}
            </h1>
          </div>
        </div>
      </div>
      <div class="px-4 sm:px-12 md:px-20 py-10 md:py-20">
        <p class="leading-relaxed">
          {
            I(
              "Partout à travers le Québec, nous aidons les organisations à atteindre leurs objectifs d’engagement social en imaginant, en déployant, puis en bonifiant avec leurs leaders un plan véritablement humain.",
              lang
            )
          }
        </p>
      </div>
      <form
        class="bg-custom-green-900 px-4 sm:px-12 md:px-20 py-12 sm:py-20 mb-20"
      >
        <h3 class="uppercase">{I("Parlez-nous de votre projet", lang)}</h3>
        <p class="leading-relaxed py-6 sm:py-10">
          {
            I(
              "Et si on prenait d’abord un café? Pour discuter de vos aspirations et priorités, contactez Fannie Perron à ",
              lang
            )
          }<a
            href="mailto:fannie@planhumain.com"
            class="hover:text-white duration-250">fannie@planhumain.com</a
          >
          {I("ou", lang)}
          <a href="tel:514-742-8463"
            >au <br class="block sm:hidden" />
            <span class="hover:text-white duration-250">514-742-8463.</span>
          </a>
        </p>
        <div
          class="grid md:grid-cols-2 gap-x-24 lg:gap-x-32 gap-y-10 mt-6 sm:mt-10"
        >
          <div>
            <div>
              <p class="font-semibold">{I("Prénom", lang)}</p>
              <div class="w-full mt-5 overflow-hidden">
                <input class="bg-transparent outline outline-none" /><div
                  class="bg-custom-beige-100/50 h-[2px]"
                >
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <p class="font-semibold">{I("Nom", lang)}</p>
              <div class="w-full mt-5 overflow-hidden scrollTiggerContact">
                <input class="bg-transparent outline outline-none" />
                <div class="bg-custom-beige-100/50 h-[2px]"></div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <p class="font-semibold">{I("Courriel", lang)}</p>
              <div class="w-full mt-5 overflow-hidden">
                <input class="bg-transparent outline outline-none" />
                <div class="bg-custom-beige-100/50 h-[2px]"></div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <p class="font-semibold">{I("Téléphone", lang)}</p>
              <div class="w-full mt-5 overflow-hidden">
                <input class="bg-transparent outline outline-none" />
                <div class="bg-custom-beige-100/50 h-[2px]"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-10">
          <p class="font-semibold">Message</p>
          <div class="w-full mt-5 overflow-hidden">
            <textarea
              rows="3"
              class="bg-transparent outline outline-none resize-none"
            ></textarea>
            <div class="bg-custom-beige-100/50 h-[2px]"></div>
          </div>
        </div>
        <div id="submitForm" class="flex justify-center pt-10 w-full">
          <Button text="Envoyer maintenant" link="/confirmation" />

          <script is:inline>
            function handleClick(e) {
              e.preventDefault();
              window.location.href = "/confirmation";
            }
            document
              .getElementById("submitForm")
              .addEventListener("click", handleClick);
          </script>
        </div>
      </form>
    </main>
    <Footer />
  </body>
</html>
