---
import Referrals from "../components/Referrals.astro";
import i from "../../utils/i18";
import Layout from "../layouts/Layout.astro";

const { lang } = Astro.props;
---

<Layout>
  <main class="text-custom-beige-100 max-w-[1300px] m-auto px-4 sm:px-12">
    <div class="px-4 sm:px-10 md:px-20 pb-10">
      <h1 class="pt-0 pb-10 sm:py-10">
        {i("Une perspective", lang)}<br />
        {i("qui fait du bien", lang)}
      </h1>
      <p class="pb-12 sm:pb-20">
        {
          i(
            "Plan humain, c’est une équipe dont les membres se distinguent grâce à leur compréhension plutôt unique de la réalité du terrain – celle du secteur corporatif tout comme celui des OBNL. Une expérience acquise sur plus de 20 ans, partout à travers le Québec, au fil de mandats de services-conseils, d’accompagnement en réflexion stratégique, de gestion de programmes de dons et commandites. Notre plus grande fierté? Celle d’exercer un impact positif sur des dizaines d’organisations, tant au niveau stratégique que financier.",
            lang
          )
        }
      </p>
      <h3>{i("NOS CO-FONDATEUR.TRICE.S", lang)}</h3>
    </div>
    <div class="flex md:flex-row flex-col">
      <div class="max-h-[400px] md:max-h-full md:w-5/12 shadow-md">
        <picture>
          <source srcset="/FannieProfilePic.webp" type="image/webp" />
          <img
            src="/FannieProfilePic.jpg"
            class="object-cover w-full h-full"
            alt="Fannie Perron profile picture"
          />
        </picture>
      </div>
      <div class="bg-custom-green-900 md:w-7/12 p-5 sm:p-[60px] md:p-[40px]">
        <div class="pt-0 sm-py-5">
          <h3 class="mb-3">Fannie Perron</h3>
          <h5 class="mb-2">{i("Co-fondatrice", lang)}</h5>
        </div>
        <a href="mailto:fannie@planhumain.com" class="hover:text-white">
          <p class="text-sm hover:text-white">fannie@planhumain.com</p>
        </a>
        <a href="tel:514-742-8463">
          <p class="hover:text-white text-sm">514-742-8463</p>
        </a>
        <div class="w-6 h-6">
          <a
            href="https://www.linkedin.com/in/fannie-perron-55596b19/"
            target="_blank"
            rel="noreferrer"
          >
            <picture class="w-full h-full">
              <img
                src="/smallLinkedinLogo.svg"
                class="object-cover w-full h-full hover:brightness-0 hover:invert"
                alt="Pierre Leroux profile picture"
              />
            </picture>
          </a>
        </div>
        <p class="py-5">
          {
            i(
              "Femme de cœur et d’action, Fannie Perron incarne l’engagement social. Que ce soit à la tête de Plan humain, à la table de divers conseils d’administration ou encore sur son tapis de yoga, elle partage valeurs, connaissances et contacts avec une générosité dans une classe à part. Détentrice d’un DESS en gestion de HEC Montréal et formée en coaching, elle cumule plus de 20 années d’expérience d’organisations de toutes tailles et secteurs d’activité.",
              lang
            )
          }
        </p>
        <p class="font-semibold">
          {i("Implication bénévole actuelle", lang)}
        </p>
        <a
          href="https://www.collegenotredame.com/la-fondation"
          class="text-sm hover:text-white"
        >
          {i("Fondation du Collège Notre-Dame (2020+)", lang)}
        </a>
        <br />
        <a href="https://projetharmonie.ca" class="text-sm hover:text-white"
          >{i("Le projet Harmonie (2021+)", lang)}</a
        >
        <br />
        <a href="https://www.etoiledepacho.ca" class="text-sm hover:text-white"
          >{i("L’Étoile de Pacho (2022+)", lang)}</a
        >
      </div>
    </div>
    <div class="pt-10 pb-12 sm:pb-20 flex md:flex-row flex-col h-full">
      <div class="max-h-[400px] md:max-h-full md:w-5/12 shadow-md">
        <picture>
          <source srcset="/PierreProfilePic.webp" type="image/webp" />
          <img
            src="/PierreProfilePic.png"
            class="object-cover w-full h-full"
            alt="Pierre Leroux profile picture"
          />
        </picture>
      </div>
      <div class="bg-custom-green-900 md:w-7/12 p-5 sm:p-[60px]">
        <h3 class="mb-3">Pierre Leroux</h3>
        <h5 class="mb-2">{i("Co-fondateur", lang)}</h5>
        <div class="pt-0 sm-py-5">
          <a href="mailto:pierre@planhumain.com">
            <p class="hover:text-white text-sm">pierre@planhumain.com</p>
          </a>
          <a href="tel:514-589-5733" class="hover:text-white">
            <p class="text-sm hover:text-white">514-589-5733</p>
          </a>
          <div class="w-6 h-6">
            <a
              href="https://www.linkedin.com/in/pierrel2/"
              target="_blank"
              rel="noreferrer"
            >
              <picture class="w-full h-full">
                <img
                  src="/smallLinkedinLogo.svg"
                  class="object-cover w-full h-full hover:brightness-0 hover:invert"
                  alt="Pierre Leroux profile picture"
                />
              </picture>
            </a>
          </div>
        </div>
        <p class="py-5 leading-relaxed">
          {
            i(
              "Si Pierre Leroux avait quelque part un bureau attitré, il deviendrait de facto le point de rencontre du monde des affaires, du développement humain et de la philanthropie. Sa curiosité sans bornes et son sens de l’observation sociale lui ont inspiré plusieurs projets entrepreneuriaux à succès, réunis au sein du réseau H&#38;Co. On l’aperçoit le plus souvent devant un café, conseillant tant les leaders de jeunes pousses que de grandes organisations. Avec Pierre, l’humain fait invariablement partie du plan.",
              lang
            )
          }
        </p>
        <p class="font-semibold">
          {i("Implication bénévole actuelle", lang)}
        </p>
        <a href="https://2etete.com" class="text-sm hover:text-white"
          >{i("2e tête (2021+)", lang)}</a
        >
        <br />
        <a href="https://entreprenarts.org" class="text-sm hover:text-white"
          >{i("Entrepren’arts (2019+)", lang)}</a
        >
      </div>
    </div>
    <div class="px-4 sm:px-10 md:px-20 pb-6 sm:pb-10">
      <h3 class="pb-10">{i("DES PARTENAIRES D’IMPACTS", lang)}</h3>
      <p>
        {
          i(
            "Les plans nés des meilleures intentions méritent une exécution à leur hauteur. Notre équipe est fière de pouvoir compter sur le savoir-faire distinctif et la complicité de tout un réseau d’organisations animées par les mêmes valeurs.",
            lang
          )
        }
      </p>
      <Referrals />
    </div>
  </main>
</Layout>
