---
import i from "../../utils/i18";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
const { lang, title, description } = Astro.props;
---

<Layout
  lang={lang}
  path="/contact/"
  headerImgSrc="/contactUsImage.webp"
  title={title}
  description={description}
>
  <main
    class="text-custom-beige-100 max-w-[1300px] m-auto px-4 sm:px-12 pt-0 sm:pt-10 min-h-screen"
  >
    <div class="h-full shadow-md">
      <div class="relative w-full h-full max-h-[1200px]">
        <div
          class="absolute bg-gradient-to-r from-black to-transparent w-full h-full z-40 opacity-[0.35]"
        >
        </div>
        <div class="h-[248px] sm:h-[350px] md:h-[450px] lg:h-[650px]">
          <picture>
            <!-- <source srcset="/contactUsImage.webp" type="image/webp" /> -->
            <img
              src="/Galerie_Plan_Humain_34.jpg"
              class="z-30 h-full object-cover"
              alt=""
            />
          </picture>
        </div>
        <div
          class="absolute top-[50%] -translate-y-[50%] left-[1.6%] sm:left-[8%] z-50 w-fit"
        >
          <h1>
            {i("Commencer", lang)}<br />
            {i("quelque part", lang)},<br />
            {i("c'est plus facile ici.", lang)}
          </h1>
        </div>
      </div>
    </div>
    <div class="px-4 sm:px-12 md:px-20 py-10 md:py-20">
      <p class="leading-relaxed">
        {
          i(
            "Partout à travers le Québec, nous aidons les entreprises à atteindre leurs objectifs d’engagement social en imaginant, en déployant, puis en bonifiant avec leurs leaders un plan véritablement humain.",
            lang
          )
        }
      </p>
    </div>
    <form
      method="POST"
      action="https://formspree.io/f/mayzwlqg"
      class="bg-custom-green-900 px-4 sm:px-12 md:px-20 py-12 sm:py-20 mb-20"
    >
      <input
        type="hidden"
        name="_next"
        value={i("https://planhumain.com/confirmation/", lang)}
      />
      <h3 class="uppercase">{i("Parlez-nous de votre projet", lang)}</h3>
      <p class="leading-relaxed py-6 sm:py-10">
        {
          i(
            "Et si on prenait d’abord un café? Pour discuter de vos aspirations et priorités, contactez Fannie Perron à",
            lang
          )
        }{" "}<a
          href="mailto:fannie@planhumain.com"
          class="hover:text-white duration-250">fannie@planhumain.com</a
        >
        {i("ou", lang)}
        <a href="tel:514-742-8463"
          >au <br class="block sm:hidden" />
          <span class="hover:text-white duration-250">514-742-8463.</span>
        </a>
      </p>
      <div
        class="grid md:grid-cols-2 gap-x-24 lg:gap-x-32 gap-y-10 mt-6 sm:mt-10"
      >
        <div>
          <div>
            <p class="font-semibold">{i("Prénom", lang)}</p>
            <div class="w-full mt-5 overflow-hidden">
              <input
                name="Prénom"
                required
                type="text"
                class="bg-transparent outline outline-none"
              /><div class="bg-custom-beige-100/50 h-[2px]"></div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <p class="font-semibold">{i("Nom", lang)}</p>
            <div class="w-full mt-5 overflow-hidden scrollTiggerContact">
              <input
                required
                name="Nom"
                type="text"
                class="bg-transparent outline outline-none"
              />
              <div class="bg-custom-beige-100/50 h-[2px]"></div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <p class="font-semibold">{i("Courriel", lang)}</p>
            <div class="w-full mt-5 overflow-hidden">
              <input
                required
                name="Courriel"
                class="bg-transparent outline outline-none"
              />
              <div class="bg-custom-beige-100/50 h-[2px]"></div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <p class="font-semibold">{i("Téléphone", lang)}</p>
            <div class="w-full mt-5 overflow-hidden">
              <input type="tel" class="bg-transparent outline outline-none" />
              <div class="bg-custom-beige-100/50 h-[2px]"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <p class="font-semibold">Message</p>
        <div class="w-full mt-5 overflow-hidden">
          <textarea
            name="Message"
            rows="3"
            class="bg-transparent outline outline-none resize-none"></textarea>
          <div class="bg-custom-beige-100/50 h-[2px]"></div>
        </div>
      </div>
      <div id="submitForm" class="flex justify-center pt-10 w-full">
        <Button text={i("Envoyer", lang)} />
      </div>

      <script is:inline>
        const submitForm = document.getElementById("submitForm");
        const form = document.querySelector("form");

        submitForm.addEventListener("click", (e) => {
          form.reportValidity();

          if (form.checkValidity()) {
            form.submit();
          }
        });
      </script>
    </form>
  </main>
</Layout>
