---
import i from "../../utils/i18";
const { lang } = Astro.props;
const today = new Date();
---

<footer
  class="bg-custom-green-900 h-full relative pb-7 text-custom-beige-100 scrollTiggerFooter"
>
  <div
    class="h-full pt-10 max-w-[1300px] m-auto space-y-5 sm:space-y-0 sm:text-left flex pb-4 px-4 sm:px-12"
  >
    <div class="w-full xs:w-6/12 sm:w-4/12 hidden sm:flex flex-col">
      <a href="mailto:fannie@planhumain.com">
        <p class="text-sm cursor-pointer hover:text-white duration-200">
          fannie@planhumain.com
        </p>
      </a>
      <a href="tel:514-742-8463">
        <p class="text-sm hover:text-white duration-200">514-742-8463</p>
      </a>
      <a
        href="https://www.linkedin.com/in/fannie-perron-55596b19/"
        target="_blank"
        rel="noreferrer"
        class="w-fit h-fit mt-5"
      >
        <svg
          class="w-8 object-cover"
          xmlns="http://www.w3.org/2000/svg"
          height="32"
          width="32"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
          ><path
            fill="#e3ddbd"
            fill-rule="evenodd"
            d="M9.429 8.969h3.714v1.85c.535-1.064 1.907-2.02 3.968-2.02c3.951 0 4.889 2.118 4.889 6.004V22h-4v-6.312c0-2.213-.535-3.461-1.897-3.461c-1.889 0-2.674 1.345-2.674 3.46V22h-4V8.969ZM2.57 21.83h4V8.799h-4V21.83ZM7.143 4.55a2.53 2.53 0 0 1-.753 1.802a2.573 2.573 0 0 1-1.82.748a2.59 2.59 0 0 1-1.818-.747A2.548 2.548 0 0 1 2 4.55c0-.677.27-1.325.753-1.803A2.583 2.583 0 0 1 4.571 2c.682 0 1.336.269 1.819.747c.482.478.753 1.126.753 1.803Z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
    </div>

    <div class="w-full flex sm:justify-center ml-4 sm:ml-0 sm:w-4/12 relative">
      <div class="w-fit">
        <!-- <img
          src="/smallCompanyLogoAnimate.svg"
          class="max-w-[150px] w-full object-cover mb-4 sm:mb-0"
          alt="plan humain company logo"
          loading="lazy"
        /> -->

        <svg
          class="max-w-[150px] w-full object-cover mb-4 sm:mb-0"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 360 268"
          style="enable-background:new 0 0 360 268;"
          xml:space="preserve"
        >
          <g fill="#e5debd">
            <path
              class="st0"
              d="M231.2,139.2c-1.7,2.2-3.8,3.7-6.5,4c-0.2,0-0.5,0.1-0.7,0c-0.4-0.1-1-0.8-1.1-1.2c-1.5-3.6-2.1-7.3-1-11.2      c0.7-2.7,1.5-5.3,2.2-8c0.4-1.6,0.9-4.3-1-5.4c-1.5-0.9-4.9-0.3-6.4,0.5c-0.9,0.4-2,0.5-2.9,0.1c-0.8-0.3-1.2-1-2.1-1.2      c-2.1-0.3-4.3,1.1-5.5,2.6c-4,5.1-8,10.3-11.7,15.7c-2.6,3.7-4.7,7.6-7.1,11.5c-0.5,0.8-1.3,2.2-2.5,1.7      c-0.6-0.2-0.5-2.6-0.6-3.2c-0.2-6.3-0.4-12.6-0.7-18.8c-0.1-3.1-1.7-5.2-3.9-5.4c-2-0.3-3.7,1-4.7,3.9c-0.9,2.4-1.8,4.9-2.6,7.3      c-0.4,1.2-0.9,2.5-1.3,3.7c-0.4,1.2-0.8,2.5-1.1,3.8c-0.1,0.4-0.3,0.8-0.6,1.1s-0.9,0.2-1.1-0.1c-0.1-0.2-0.1-0.3,0-0.5      c0.1-1.3,0.3-2.6,0.3-3.9c0-1,0-2-0.1-2.9c-0.1-1.8-2-3.6-3.9-4.1c-1.5-0.4-3.3,0.7-4.2,2.7c-0.4,0.8-0.6,1.7-0.9,2.5      c-2.4,6.6-4.7,13.1-7.1,19.7c-0.1,0.3-0.2,0.7-0.4,1c-0.1,0.2-0.6,0.7-0.9,0.7c-0.1,0-0.2-0.1-0.3-0.1c-0.8-0.5-0.5-1.4-0.5-2.2      c0-1,0.1-2,0.1-3c0.2-3.6,0.5-7.2,0.6-10.8c0-1.8-1.6-3.3-3.5-3.5c-1.5-0.2-3.3,0.7-3.9,2.1c-0.5,1.2-0.6,2.6-0.9,3.9      c-1.5,5.4-2.5,11.1-4.9,16.1c-1.1,2.4-1.9,5.1-2.9,7.6c-0.7,1.8-1.4,3.6-2.3,5.3c-0.5,1.1-1.2,2.1-1.8,3.1      c-0.4,0.6-0.7,1.3-1.2,1.9s-1.1,1-1.8,1.2c-1.8,0.4-3.1-1.4-3.6-2.9c-0.2-0.7-0.2-1.5-0.2-2.3c0.1-3.4,0.3-6.9,0.6-10.3      c0.4-3.5,1.2-6.9,1.7-10.4c0.5-3.1,0.4-2.3,0.8-5.4c0.2-1.8-1.8-3.9-3.7-4.2c-1.5-0.2-3.5,1.3-3.9,3.1c-0.9,4.6-1.1,5.3-1.8,10      c-1.4,9.4-4.3,18.4-8,27.1c-0.9,2-2.6,1.1-3.2-0.5c-0.5-1.4-0.6-2.9-0.7-4.3c-0.3-2.6-0.2-5.2,0.2-7.7      c0.8-5.1,1.8-10.2,2.7-15.3c0.4-2.6-1.1-4.8-3.2-5c-1.8-0.2-3.7,1.4-4.2,3.6c0,0.2,0,0.4-0.1,0.7c-1.6,11.7-5.8,22.6-11.4,32.9      c-0.5,0.9-0.8,2.2-2.5,2c-0.2-0.4-0.7-0.9-0.8-1.5c-0.5-3.1-1.1-6.2-1.2-9.4c-0.3-8.1-0.3-16.2-0.4-24.3c0-2.2,0.1-4.6-0.6-6.7      c-1.8-6.1-5.7-5.7-8.9-2.3c-1.4,1.5-2.6,3.2-3.5,4.9c-2.1,3.9-4.1,8-6.1,12c-0.4,0.8-3,7.1-4.5,5.4c-0.5-0.5-0.3-1.3-0.3-2      c0.5-8.1,1-16.2,1.4-24.2c0.4-8.1,0.6-16.2,0.9-24.3c0-1.1,0-2.3-0.3-3.3c-0.4-1.7-2.1-2.6-4.3-2.4c-1.8,0.2-2.9,1.2-2.9,3      s0.2,3.6,0.1,5.4c-0.2,7.9-0.4,15.7-0.7,23.6c-0.2,5.8-0.1,11.7-0.8,17.5c-1.1,11-1.2,27.4-1,38.4c0,2.4-0.1,6.6,3.4,6.5      c0.8,0,1.6-0.1,2.3-0.5c2.3-1.1,2.5-3.5,2.6-5.7c0.1-1.9,0.3-3.8,0.7-5.7c1.1-5.9,2.2-11.8,4-17.6c1.8-6,4.9-11.1,7.5-16.8      c1-2.1,2.7-3.2,3.4-0.3c0.4,1.7,0.3,3.6,0.4,5.3c0.2,4.5,0.2,9,0.6,13.5c0.3,4.3,0.5,8.6,1.6,12.7c1.7,6.1,3.8,6.4,9.5,5.8      c1.9-0.2,3.3-1.5,4.3-3c1.2-1.8,2.4-3.7,3.6-5.6c0.3-0.5,0.6-1.5,1.3-1.6c0.4-0.1,1.1,0.2,1.4,0.5c0.8,0.8,1.5,1.9,2.2,2.7      c0.6,0.6,1.3,1.3,2.1,1.6c4.9,1.8,8.9,0.1,11.3-4.6c0.5-1,0.7-2.1,1.3-3.1c1-1.9,1.7-3.1,3.9-1.9c1.3,0.7,2.5,2.1,3.9,2.6      c3.4,1,7.7-0.8,9.8-3.6l0.1-0.1c1.1-2.1,2.2-4.3,3.3-6.4c0.3-0.6,0.6-1.2,0.9-1.8c0.5-1.4,1-2.6,1.8-3.8c0.3-0.5,0.4-1.2,1-1.3      c0.9-0.2,0.9,0.9,1.2,1.6c0.2,0.7,0.4,1.3,0.6,2c0.3,1.3,0.4,2.7,0.8,4c0.9,2.8,1.8,3.3,5,3.2c0.4,0,1.5-0.1,1.8-0.5      c1.2-1.4,1.9-3.1,2.5-4.8c0.5-1.2,0.7-2.6,1.1-3.9c0.6-2.4,1.2-4.9,2-7.3c0.4-1.3,0.8-2.5,1.3-3.8c0.2-0.6,0.5-1.2,0.8-1.9      c0.2-0.4,0.2-1.1,0.7-1.2c0.9-0.3,1,0.8,1.1,1.4c0.2,0.9,0.4,1.7,0.5,2.6c0.2,1.7,0.2,3.4,0.2,5.1c0,1.6,0.1,3.3,0.5,4.9      c0.3,1.3,0.7,3.1,2.2,3.5c0.5,0.2,1,0.1,1.5,0.1c0.7,0,1.5-0.1,2.2-0.4c1.9-0.8,2-3.4,2.5-5.2c0.4-1.6,0.8-3.3,1.2-4.9      c0.8-3.7,1.6-7.5,2.9-11.1c0.2-0.6,0.6-2.3,1.5-2.2s0.9,2.1,1,2.7c0.4,2.7,0.7,5.4,1.2,8c0.7,3.3,2.6,4.5,5.9,4      c1.7-0.3,3-1,3.8-2.5c1.8-3.1,3.5-6.3,5.3-9.4c0.5-0.9,0.7-2.2,2.2-2.1c0.6,1.1,1.2,2.1,1.9,3.1c1,1.4,2.2,2.6,4.1,2.9      c1.3,0.2,2.9,0,4.1-0.5c2.4-1.1,3.6-3.1,4.8-5.3c0.6-1,1.1-1.9,1.8-2.8c0.4-0.6,1.2-1.8,2.1-1.7c0.4,0.1,0.8,0.8,1.1,1.2      c0.4,0.5,0.8,1,1.2,1.5c1.4,1.9,3.4,2.8,5.6,3.4c2.1,0.5,4.3,0.6,6.4,0.1c2.3-0.6,3.8-1.9,5.4-3.4c1.8-1.6,3.1-3.9,4.4-6      c0.6-1,1.2-2,1.8-3.1c0.6-1,0.9-2.1,1.4-3.1c0.4-0.8,0.9-0.1,1,0.4c0.3,0.8,0.6,1.6,1,2.3c2.6,5.3,8.3,6,11.9,1.3      c1.4-1.8,2.5-3.7,3.5-5.7c1.8-3.4,3.3-6.9,5.1-10.3c0.4-0.9,1.9-3.8,2.6-2.2c0.4,1,0.1,3,0.1,4.1c0,1.4,0.1,2.9,0.1,4.3      c0.1,1.7-0.2,3.5,0,5.2c0.3,2.5,1.5,3.3,3.8,3.8c2.6,0.6,3.9-0.1,5-2.2c0.2-0.4,0.4-0.8,0.5-1.3c0.9-4.3,3.2-8.1,5.4-11.8      c0.6-1,1.2-2,1.7-3c0.4-0.7,0.8-2.1,1.5-2.5c1.6-0.9,2.3,2.2,2.5,3.3c0.5,3.1,0.7,6.3,1.2,9.4c0.5,2.9,1.8,4,4.5,3.9      c1.8-0.1,2.9-1.6,2.7-4.6c-0.4-7.6-1-15.2-1.4-22.9c-0.1-2.4-1.5-3.7-3.5-4.4c-2.1-0.8-4.4-0.1-6,1.9c-2,2.4-3.8,5-5.7,7.5      c-0.6,0.8-0.9,2.1-2.6,1.9c-0.8-3.3-0.3-6.6-0.5-9.9c-0.2-3.8-1.6-5-5.7-4.9c-3,0.1-3.9,4.1-5.1,6.3c-1.8,3.4-3.6,6.9-5.5,10.2      c-2,3.6-3.4,7.4-5.4,11c-0.6,1-1.2,2-1.8,3c-0.4,0.6-0.8,1.7-1.4,2c-1.3,0.8-1.3-1.4-1.5-2.3c-0.2-1.1-0.4-2.3-0.4-3.4      c-0.1-2.2,0.2-4.3,0.6-6.5c0.5-2.5,1.6-4.9,2.4-7.3c0.5-1.4,1.1-2.8,0.7-4.3c-0.5-1.5-1.9-2.3-3.3-2.8c-2.1-0.7-4.2,0.4-4.7,2.5      c-0.7,3-1.8,5.7-3,8.5c-1.2,3-2.1,6.2-3.3,9.2c-0.7,1.7-1.3,3.4-2,5.1c-0.5,1.2-1.1,2.3-1.5,3.5      C234,134.9,232.8,137.1,231.2,139.2z M211.8,129.8c-0.6,1.7-1.3,3.3-2,5c-1.4,3.3-3,6.5-4.5,9.7c-0.2,0.5-1,0.7-1.4,0.3      c-0.2-0.2-0.3-0.5-0.3-0.9c0-1.9,0.8-4.1,1.2-5.9c0.5-2,1.3-3.9,2.3-5.7c0.9-1.5,3.2-6,5.3-6.1h0.1c0,0,0.1,0.1,0.1,0.2      s0,0.1,0,0.2C212.9,127.7,212.2,128.8,211.8,129.8z"
            ></path>
            <path
              class="st0"
              d="M259.1,91.5c-0.4,3.3-7,2.3-9.2,2c-2-0.3-3.8-0.6-3.8-3c0-1.5,0.6-2.6,2.1-3c2.4-0.6,4.9-0.5,7.1,0.7      c1,0.5,2.9,1.4,3.5,2.4C259.1,90.8,259.2,91.1,259.1,91.5z"
            ></path>
            <path
              class="st0"
              d="M104,115c0.1,3.9,0.4,7.7,1.6,11.3c0.2,0.6,0.5,1.3,0.5,1.9c0.1,1.9-1.8,2.6-3.4,2.7      c-1.2,0.1-2.5-0.3-3.4-1.1c-0.8-0.7-1.2-1.8-1.5-2.8c-0.2-0.9-0.3-1.9-0.3-2.9c-0.1-2.7-0.3-5.3-0.4-8c-0.1-2.5,0.1-5,0-7.6      c0-2.7,0-5.3,0.2-8c0.3-5.3,0.8-10.5,1.3-15.8c0.4-3.7,0.9-7.5,1.2-11.2c0.1-1.3,0-2.6,0-4.1c-1.8-0.9-3.6-1.7-5.3-2.8      c-2.4-1.5-2.4-3.8-0.1-5.3c4-2.5,8.5-4,13.1-4.4c6.9-0.7,13.8-0.6,20.5,1.1c2,0.5,3.8,1.3,5.6,2.2c1.5,0.8,3.5,1.5,3.9,3.4      c0.6,2.6-0.8,5-1.9,7.3c-1.2,2.3-2.5,4.6-3.9,6.7c-2.9,4.3-6.4,8.2-10.2,11.8c-3,2.9-6.2,5.7-9.6,8.1c-2.3,1.5-4.1,3.3-5.7,5.5      c-1.1,1.7-2.2,4-2.2,6C104,111.1,103.9,113.1,104,115z M109.3,64.1c-0.3,0.2-0.6,0.4-0.9,0.6c-0.6,0.8-0.8,3-0.9,4      c-1,7.9-1.8,15.8-2.7,23.7c-0.1,0.8-0.1,1.8,1.4,2c8.1-5,14.2-12.3,19.9-19.9c1.9-2.6,3.7-5.5,3.3-9.4c0-0.4-4.4-1.2-4.9-1.3      c-1.7-0.3-3.4-0.6-5.1-0.7c-3.3-0.3-6.9-0.5-9.9,0.9C109.4,64.1,109.4,64.1,109.3,64.1z"
            ></path>
            <path
              class="st0"
              d="M195.1,66.6c0.1,0,0.2,0,0.3,0c0.8-0.2,2.1-2.6,2.6-3.3c1.7-2,3.4-4.1,5.3-5.9c3.2-2.9,7.6-1.5,8.6,2.7      c0.4,1.7,0.6,3.5,0.6,5.3c0,10.6,0.5,14.9-0.5,25.5c-0.1,1.1-0.2,2.2-0.2,3.3c-0.2,2.8-2.2,4.4-5,4.1c-1.1-0.1-1.4-2.5-1.5-3.3      c-0.2-1.3-0.1-2.5-0.1-3.8c-0.2-7.1-0.1-7.9-0.2-14.9c0-1.4,0.4-6.1-1.1-6.9c-1.3-0.7-4.2,3.8-4.9,4.6c-1.8,2.3-3.1,5.1-4,7.8      c-1.3,3.7-2.1,7.5-3.6,11.1c-1.3,3.2-7.2,5.3-7.3,0.3c-0.1-2,0-4.6,0.2-6.6c0.9-8.8,1.9-17.6,3-26.4c0.3-2.5,1.7-3.8,3.8-3.7      c2.4,0.1,4.1,1.8,4.1,4.3c0,1.1-0.1,2.3-0.2,3.4C195.1,64.9,194.5,66.4,195.1,66.6z"
            ></path>
            <path
              class="st0"
              d="M178.2,103.7c-0.3,0.8-1.2,1.1-2.4,1.4c-1.3,0.4-2.5,0-3.5-0.9c-0.7-0.6-1.1-1.5-1.8-2.1      c-1-0.8-1.8,0.2-2.5,0.9c-2.9,2.6-8.2,3.9-11.1,0.9c-2.4-2.5-3.8-5.4-4-8.9c-0.2-5.4,0.6-10.6,3-15.5c1.4-3,2.9-6,4.3-9      c1.3-2.7,3.3-4.7,5.9-6.1c1.8-1,3.7-1.5,5.7-0.8c1.3,0.4,2.6,0.6,3.9,0.8c3.6,0.7,4.9,2.4,4.2,6.1c-0.5,2.8-1.4,5.6-1.9,8.4      c-0.7,4.1-1.3,8.3-1.9,12.5c-0.3,2.2-0.1,4.5,0.5,6.7c0.4,1.4,1.3,2.6,1.6,4.1C178.4,102.8,178.3,103.3,178.2,103.7z       M170.8,70.9c-1-1.1-2.8,1-3.5,2.1c-3.1,4.6-5,9.8-6.4,15.1c-0.4,1.4-0.5,2.8-0.5,4.2c0,1.3-0.3,2.7,0.1,4      c0.2,0.6,0.5,1.1,1.1,1.3c1.5,0.3,2.4-2,3.1-2.9c1.8-2.7,2.7-5.9,3.6-8.9c0.8-3.1,1.9-6.1,2.6-9.3c0.3-1.4,0.8-3.3,0.4-4.7      C171.1,71.3,171,71.1,170.8,70.9z"
            ></path>
            <path
              class="st0"
              d="M145.2,115.2c-1.2,1.3-4.6,1.9-5.8,1.5c-2.1-0.6-1.9-3.9-2-5.5c-0.2-4.6-0.4-9.3,0.2-13.9      c1.6-12,3.6-24,5.5-36c1.2-7.6,2.3-15.3,3.5-23c0.4-2.9,1.4-4.3,3.1-4.3c2.4,0,4.6,2.1,4.8,4.6c0.1,1.1,0,2.2-0.2,3.3      c-1.6,8.5-3.2,16.9-4.7,25.4c-1.4,7.8-2.7,15.7-3.9,23.5c-0.2,1.3-0.2,2.7-0.5,4c-1.1,6-2.2,13.3,0.4,18.9      C145.7,114.2,145.6,114.7,145.2,115.2z"
            ></path>
          </g>
        </svg>

        <div
          class="top-0 w-[150px] h-full absolute loadInLineFooter overflow-hidden z-0"
        >
          <!-- <img
            src="/smallCompanyLogoAnimateLine.svg"
            class="min-w-[150px] max-w-[150px] object-cover mb-4 sm:mb-0 h-full"
            alt="plan humain company logo"
            loading="lazy"
          /> -->
          <svg
            class="min-w-[150px] max-w-[150px] object-cover mb-4 sm:mb-0 h-full"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 360 268"
            style="enable-background:new 0 0 360 268;"
            xml:space="preserve"
            id="footer-logo-line"
          >
            <g>
              <g>
                <path
                  style="fill:#e5debd"
                  class="st0"
                  d="M257,158.7c5.3-1.7,10.7-3.2,16.1-4.8c7.9-2.2,16-4.8,24-6.1c5.7-0.9,7.4,1.5,9,6.6c0.4,1.1,0.5,2.5-0.3,3.4    c-0.5,0.4-1.1,0.6-1.7,0.7c-5,1.1-9.9,1.6-14.9,2.7c-0.3,0.1-0.6,0.1-0.9,0.2c-2.2,0.5-4.5,1.1-6.7,1.7c-1.7,0.4-3.3,1-5,1.4    c-1.7,0.5-3.5,0.9-5.3,1.3c-1.3,0.4-2.6,0.8-3.9,1.2c-1.1,0.3-2.2,0.5-3.3,0.8c-0.8,0.2-1.7,0.5-2.5,0.7c-1.1,0.3-2.2,0.6-3.3,1    c-1.1,0.3-2.2,0.7-3.3,1.1c-0.3,0.1-0.5,0.1-0.8,0.2c-1.5,0.4-3,0.8-4.5,1.3c-1.7,0.5-3.3,1-4.9,1.6c-1.8,0.6-3.6,1.1-5.4,1.7    c-1.8,0.6-3.6,1.2-5.5,1.8c-1,0.3-2.1,0.6-3.1,0.9c-1.2,0.4-2.5,0.8-3.7,1.2c-5,1.7-10,3.5-15,5.2c-0.6,0.2-1.1,0.4-1.6,0.6    c-1.3,0.4-2.5,1-3.7,1.5c-1.3,0.5-2.6,0.8-3.8,1.3c-1.4,0.5-2.7,1-4.1,1.6c-1.4,0.6-2.9,1.1-4.3,1.7c-0.7,0.3-1.5,0.5-2.2,0.7    c-1.2,0.5-2.4,0.9-3.5,1.4c-1,0.4-1.9,0.7-2.9,1.1c-0.7,0.3-1.4,0.5-2.1,0.8c-0.9,0.3-1.7,0.6-2.6,0.9c-1,0.4-1.9,0.8-2.8,1.2    c-1,0.4-2,0.7-3,1.1c-0.5,0.2-1.1,0.4-1.6,0.7c-2.1,0.8-4.1,1.7-6.2,2.5c-1.3,0.5-2.5,1.1-3.7,1.6c-1.7,0.7-3.3,1.4-5,2.1    c-1,0.4-1.9,0.8-2.9,1.3c-1.3,0.6-2.5,1.1-3.8,1.7c-1.6,0.7-3.2,1.4-4.8,2c-1.7,0.7-3.4,1.5-5.2,2.2c-2.4,1-4.7,2.1-7.1,3.1    c-1.8,0.8-3.6,1.6-5.3,2.4c-1.7,0.8-3.5,1.5-5.3,2.3c-0.6,0.3-1.2,0.6-1.8,0.9c-1.5,0.7-3,1.3-4.6,2c-1.7,0.8-3.4,1.6-5.1,2.4    c-2.1,1-4.2,2-6.3,3c-1.2,0.6-2.3,1.2-3.5,1.8c-3,1.5-6.3,3.5-9.7,3.9c-0.3,0-0.7,0.1-1-0.1c-0.3-0.1-0.5-0.4-0.7-0.6    c-1.7-2.2-1.5-3.5,0.9-5c4.5-2.7,9.1-4.8,13.8-7c4.7-2.3,9.3-4.8,14.1-7c19.4-8.6,38.6-17.9,58-26.3c19.6-8.4,39.6-15.8,59.7-23.1    C244.4,162.7,250.7,160.6,257,158.7z"
                ></path>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
    <div class="w-4/12 sm:flex hidden justify-end">
      <div class="my-5 sm:my-0">
        <a href={i("https://h-co.ca/fr", lang)} target="_blank" class="flex">
          <span class="text-xs text-right font-extralight"
            >{i("Une entreprise", lang)}
            <br />
            {i("membre du réseau", lang)}</span
          >
          <img
            class="ml-[10px]"
            style="height:40px;width:40px;"
            src="/logo-hCo-renv.png"
            alt=""
          />
        </a>
      </div>
      <!-- <a
        href="https://www.facebook.com"
        target="_blank"
        rel="noreferrer"
        class="w-fit h-fit"
      >
        <picture>
          <img
            src="/facebookIcon.svg"
            class="w-8 object-cover hover:invert hover:brightness-0"
            alt="facebook logo"
            loading="lazy"
            height="32"
            width="32"
          />
        </picture>
      </a> -->
    </div>
    <div class="w-6/12 flex flex-col sm:hidden justify-between">
      <div class="w-full xs:w-6/12 sm:w-2/12 sm:hidden flex flex-col">
        <a href="mailto:fannie@planhumain.com">
          <p class="text-sm cursor-pointer hover:text-white">
            fannie@planhumain.com
          </p>
        </a>
        <a href="tel:514-742-8463">
          <p class="text-sm hover:text-white">514-742-8463</p>
        </a>
      </div>
      <div class="flex mt-3">
        <a
          href="https://www.linkedin.com/in/fannie-perron-55596b19/"
          target="_blank"
          rel="noreferrer"
          class="w-fit h-fit"
          aria-label="Link to Linkedin profile"
        >
          <svg
            class="w-8 object-cover"
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            width="32"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
            ><path
              fill="#e3ddbd"
              fill-rule="evenodd"
              d="M9.429 8.969h3.714v1.85c.535-1.064 1.907-2.02 3.968-2.02c3.951 0 4.889 2.118 4.889 6.004V22h-4v-6.312c0-2.213-.535-3.461-1.897-3.461c-1.889 0-2.674 1.345-2.674 3.46V22h-4V8.969ZM2.57 21.83h4V8.799h-4V21.83ZM7.143 4.55a2.53 2.53 0 0 1-.753 1.802a2.573 2.573 0 0 1-1.82.748a2.59 2.59 0 0 1-1.818-.747A2.548 2.548 0 0 1 2 4.55c0-.677.27-1.325.753-1.803A2.583 2.583 0 0 1 4.571 2c.682 0 1.336.269 1.819.747c.482.478.753 1.126.753 1.803Z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        <!-- <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noreferrer"
          class="w-fit h-fit"
        >
          <img
            height="32"
            width="32"
            src="/facebookIcon.svg"
            class="w-8 object-cover"
            alt="facebook logo"
            loading="lazy"
          />
        </a> -->
      </div>

      <div class="mt-8 mb-3">
        <a href={i("https://h-co.ca/fr", lang)} target="_blank" class="flex">
          <span class="text-xs text-right font-extralight"
            >{i("Une entreprise", lang)}
            <br />
            {i("membre du réseau", lang)}</span
          >
          <img
            class="ml-[10px]"
            style="height:40px;width:40px;"
            src="/logo-hCo-renv.png"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
  <a href="https://carboniaweb.com">
    <div class="text-custom-light-purple text-center hover:text-white pt-6">
      <p class="text-sm mb-0 hover:text-white">
        &copy; {today.getFullYear()}
        {i("Produit par Carbonia Web", lang)}
      </p>
    </div>
  </a>

  <script is:inline type="module">
    const f = document.querySelector("footer");

    const o = new IntersectionObserver(
      (e) => {
        e.forEach((e) => {
          if (e.isIntersecting) {
            const s = document.createElement("script");
            s.src = "/js/scrollTrigger.js";
            s.async = true;
            document.body.appendChild(s);
            o.unobserve(f);
          }
        });
      },
      {
        rootMargin: "400px",
        root: null,
        threshold: 0.1,
      }
    );

    o.observe(f);
  </script>
</footer>
