---
import Navbar from "./navbar.astro";

const { lang, path } = Astro.props;
---

<header class="mb-8">
  <nav class="bg-custom-green-900">
    <Navbar currentPath={path} lang={lang} />
  </nav>
</header>
