---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import i from "../../utils/i18";
const { lang } = Astro.props;
---

<Layout>
  <main
    data-page-name="home"
    class="text-custom-beige-100 max-w-[1300px] m-auto px-4 sm:px-12 py-0 sm:py-10 h-full"
  >
    <div class="relative flex h-full shadow-md">
      <div
        class="absolute bg-gradient-to-r from-custom-green-900 to-transparent w-full h-full z-10 opacity-60"
      >
      </div>
      <div class="w-full sm:h-[350px] md:h-[450px] lg:h-[650px]">
        <picture>
          <source
            srcset="/heroImageSmall.jpg"
            media="(max-width: 650px)"
            type="image/jpg"
          />
          <source
            srcset="/heroImage.webp"
            media="(max-width: 650px)"
            type="image/webp"
          />
          <img
            src="/heroImage.jpg"
            alt="plan humain logo"
            class="h-[300px] sm:h-full object-cover"
          />
        </picture>
      </div>
      <div class="absolute top-[20%] left-[1.6%] sm:left-[8%] z-30">
        <h1 class="mb-8">
          {i("Votre façon", lang)}<br />
          {i("de faire partie", lang)}<br />
          {i("de la solution", lang)}
        </h1>

        <div class="flex">
          <Button text={i("Nos services", lang)} link={i("/services/", lang)} />
        </div>
      </div>
    </div>

    <p class="px-4 sm:px-12 md:px-20 py-20 pb-0 pt-12 sm:pb-0 sm:pt-20">
      {
        i(
          "Avec Plan humain, l’engagement social dépasse les bonnes intentions et les campagnes de communication. Notre équipe accompagne les leaders dans l’adoption d’une approche structurée, viable à long terme et créatrice de valeur à chaque point de contact. Un geste à la fois, nous permettons aux organisations de s’engager à prospérer en changeant des vies pour le mieux. S’engager à élever la barre. S’engager à inspirer.",
          lang
        )
      }
    </p>
    <div class="flex justify-center pt-6 pb-10 sm:pt-10">
      <Button text={i("Notre équipe", lang)} link={i("/aboutUs/", lang)} />
    </div>
  </main>
</Layout>
