---
import i from "../../utils/i18";
import classNames from "../../utils/twClassNames";

const { pathname } = Astro.props;
const lang = pathname.includes("en") ? "en" : "fr";
const translatePathName =
  lang == "en" ? "/" + pathname.split("en/")[1] : "/en" + pathname;
---

<div
  class="flex pt-6 w-full h-full z-80 sticky pb-5 top-0 duration-700 scrollTigger shadow-xl"
  id="navbar"
>
  <div
    class="border border-white w-full absolute bottom-0 duration-1000 opacity-0"
    id="navbar-underline"
  >
  </div>
  <div
    class="w-full h-[50vh] flex flex-col sm:hidden absolute bg-custom-purple top-36 z-70 -translate-y-[1000px] bg-custom-green-500 border-b-custom-beige-100 border-b-2"
    id="dropdownMenu"
  >
    <div
      class="text-white flex flex-col space-y-4 font-bold items-center justify-center w-full h-full"
    >
      <a href={lang == "en" ? "/en/" : "/"} class="overflow-hidden">
        <p
          class={classNames(
            pathname == "/" || pathname == "/en/" ? "font-black" : "font-thin",
            "cursor-pointer m-auto w-fit hover:text-white menuOption uppercase -translate-y-[50px] "
          )}
        >
          {i("Accueil", "fr")}
        </p>
      </a>
      <a
        href={lang == "en" ? "/en/" + "services" : "/services"}
        class="overflow-hidden"
      >
        <p
          class={classNames(
            pathname.includes("/services") ? "font-black" : "font-thin",
            "cursor-pointer m-auto w-fit hover:text-white menuOption -translate-y-[50px] uppercase "
          )}
        >
          Services
        </p>
      </a>
      <a
        href={lang == "en" ? "/en/" + "aboutUs" : "/aboutUs"}
        class="overflow-hidden"
      >
        <p
          class={classNames(
            pathname.includes("/aboutUs") ? "font-black" : "font-thin",
            "cursor-pointer m-auto w-fit hover:text-white menuOption uppercase -translate-y-[50px] "
          )}
        >
          {i("équipe", lang)}
        </p>
      </a>
      <a
        href={lang == "en" ? "/en/" + "contact" : "/contact"}
        class="overflow-hidden"
      >
        <p
          class={classNames(
            pathname.includes("/contact") ? "font-black" : "font-thin",
            "cursor-pointer m-auto w-fit hover:text-white menuOption uppercase -translate-y-[50px]"
          )}
        >
          Contact
        </p>
      </a>
      <a href={translatePathName} class="overflow-hidden langSelector">
        <p
          class="cursor-pointer m-auto w-fit hover:text-white menuOption uppercase -translate-y-[50px] font-thin"
        >
          {lang == "fr" ? "en" : "fr"}
        </p>
      </a>
    </div>
  </div>
  <div
    class="max-w-[1300px] m-auto w-full flex items-center justify-between relative px-4 sm:px-12 z-100"
  >
    <div class="relative overflow-hidden">
      <a href={i("/", lang)}>
        <picture>
          <img
            src="/companyLogoAnimate.png"
            class="h-full w-1/2 sm:w-fit max-w-[150px] sm:max-w-[200px] relative object-cover z-100"
            alt="plan humain company logo"
          />
        </picture>
      </a>
      <div class="absolute top-0 h-full w-full overflow-hidden">
        <picture>
          <img
            src="/companyLogoAnimatedLine.png"
            class="h-full sm:w-fit min-w-[150px] max-w-[150px] sm:max-w-[200px] object-cover z-100"
            alt="plan humain company logo"
          />
        </picture>
      </div>
    </div>
    <div
      class="text-white hidden sm:flex space-x-4 font-bold w-10/12 text-center"
    >
      <a href={lang == "en" ? "/en/" : "/"}>
        <p
          class={classNames(
            pathname == "/" || pathname == "/en/" ? "font-bold" : "",
            "cursor-pointer hover:text-white uppercase h6"
          )}
        >
          {i("Accueil", lang)}
        </p>
      </a>
      <a href={lang == "en" ? "/en/" + "services" : "/services"}>
        <p
          class={classNames(
            pathname.includes("/services") ? "font-bold" : "",
            "cursor-pointer hover:text-white uppercase h6"
          )}
        >
          {i("services", lang)}
        </p>
      </a>
      <a href={lang == "en" ? "/en/" + "aboutUs" : "/aboutUs"}>
        <p
          class={classNames(
            pathname.includes("/aboutUs") ? "font-bold" : "",
            "cursor-pointer hover:text-white uppercase h6"
          )}
        >
          {i("équipe", lang)}
        </p>
      </a>
      <a href={lang == "en" ? "/en/" + "contact" : "/contact"}>
        <p
          class={classNames(
            pathname.includes("/contact") ? "font-bold" : "",
            "cursor-pointer hover:text-white uppercase h6"
          )}
        >
          {i("contact", "fr")}
        </p>
      </a>
      <a href={lang == "en" ? "/" : "/en/"}>
        <p
          class="cursor-pointer hover:text-white translate-y-[1px] uppercase h6"
        >
          {lang == "fr" ? "en" : "fr"}
        </p>
      </a>
    </div>
    <button
      class="text-white sm:hidden flex flex-col space-y-1.5 w-fit cursor-pointer z-[100]"
      id="hamburgerMenu"
    >
      <div class="border-[1px] w-8 rounded-full bg-[#e3ddbd] border-[#e3ddbd]">
      </div>
      <div class="border-[1px] w-8 rounded-full bg-[#e3ddbd] border-[#e3ddbd]">
      </div>
      <div class="border-[1px] w-8 rounded-full bg-[#e3ddbd] border-[#e3ddbd]">
      </div>
    </button>
  </div>
</div>
