---
import I from "../../utils/translate";
import Button from "./Button.astro";
const { lang } = Astro.props;
---

<div class="px-4 sm:px-12 md:px-20 py-12 sm:py-20">
  <h3 class="pb-10">{I("PRINCIPAUX", lang)} {I("SERVICES", lang)}</h3>
  <div class="grid md:grid-cols-2 gap-x-24 lg:gap-x-32 gap-y-10">
    <div>
      <div class="overflow-hidden">
        <h5>{I("Stratégie", lang)}</h5>
        <div
          class="w-full border-[1px] border-custom-beige-100/50 my-1 seperatorLine"
        >
        </div>
        <ul>
          <li>
            <p>
              • {I("Audit", lang)}
            </p>
          </li>
          <li>
            <p>
              • {I("Plan stratégique d'engagement social", lang)}
            </p>
          </li>
          <li>
            <p>
              • {I("Plan de déploiement", lang)}
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="overflow-hidden">
        <h5>{I("Évaluation", lang)}</h5>
        <div
          class="w-full border-[1px] border-custom-beige-100/50 my-1 seperatorLine"
        >
        </div>
        <ul>
          <li>
            <p>
              • {I("Évaluation d'impact de l'engagement", lang)}
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="overflow-hidden">
        <h5 class="">{I("Impartition", lang)}</h5>
        <div
          class="w-full border-[1px] border-custom-beige-100/50 my-1 seperatorLine"
        >
        </div>
        <ul>
          <li>
            <p>
              • {I("Programme de RSEY", lang)}
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="overflow-hidden scrollTigger">
        <h5>{I("Coaching", lang)}</h5>
        <div
          class="w-full border-[1px] border-custom-beige-100/50 my-1 seperatorLine"
        >
        </div>
        <ul>
          <li>
            <p>
              • {I("Individuel ou en groupe", lang)}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-center md:px-20 pt-12 sm:pt-20">
    {
      I(
        "Selon les besoins, notre collection d’expertises est complétée par l’implication d’un écosystème de partenaires de premier plan.",
        lang
      )
    }
  </p>
  <div class="flex justify-center pt-10">
    <Button text="Rencontrez-les ici" link="/aboutUs" />
  </div>
</div>
