---
import i from "../../utils/i18";
import Button from "./Button.astro";
const { lang } = Astro.props;
---

<div class="px-4 sm:px-12 md:px-20 py-12 sm:py-20">
  <h3 class="pb-10">{i("PRINCIPAUX", lang)} {i("SERVICES", lang)}</h3>
  <div class="grid md:grid-cols-2 gap-x-24 lg:gap-x-32 gap-y-10">
    <div>
      <div class="overflow-hidden">
        <h5>{i("Stratégie", lang)}</h5>
        <div
          class="w-full border-[1px] border-custom-beige-100/50 my-1 seperatorLine"
        >
        </div>
        <ul>
          <li>
            <p>
              • {i("Diagnostics", lang)}
            </p>
          </li>
          <li>
            <p>
              • {i("Plan de responsabilité sociale", lang)}
            </p>
          </li>
          <li>
            <p>
              • {i("Plan de déploiement", lang)}
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="overflow-hidden">
        <h5>{i("Évaluation", lang)}</h5>
        <div
          class="w-full border-[1px] border-custom-beige-100/50 my-1 seperatorLine"
        >
        </div>
        <ul>
          <li>
            <p>
              • {i("Évaluation de l’engagement social", lang)}
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="overflow-hidden">
        <h5 class="">{i("Impartition", lang)}</h5>
        <div
          class="w-full border-[1px] border-custom-beige-100/50 my-1 seperatorLine"
        >
        </div>
        <ul>
          <li>
            <p>
              • {i("Programme de responsabilité sociale d’entreprise", lang)}
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="overflow-hidden scrollTigger">
        <h5>{i("Coaching", lang)}</h5>
        <div
          class="w-full border-[1px] border-custom-beige-100/50 my-1 seperatorLine"
        >
        </div>
        <ul>
          <li>
            <p>
              • {i("Individuel ou en groupe pour les équipes de RSE", lang)}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-center md:px-20 pt-12 sm:pt-20">
    {
      i(
        "Selon les besoins, notre collection d’expertises est complétée par l’implication d’un écosystème de partenaires de premier plan.",
        lang
      )
    }
  </p>
  <div class="flex justify-center pt-10">
    <Button text={i("Rencontrez-les ici", lang)} link="/aboutUs" />
  </div>
</div>
