---
const { lang } = Astro.props;
---

<!-- <div
  class="flex items-center justify-between sm:justify-evenly w-full py-12 sm:py-20 flex-wrap"
> -->
<div
  class="w-full py-12 sm:py-20 grid grid-rows-2 grid-flow-col justify-around lg:flex lg:items-center gap-8"
>
  <a
    href={lang === "fr"
      ? "https://www.junglemedia.ca/fr"
      : "https://www.junglemedia.ca/"}
    class="h-auto cursor-pointer hover:brightness-0 hover:invert img-fluid"
    target="_blank"
    rel="noreferrer"
  >
    <svg
      width="130"
      height="44"
      viewBox="0 0 90 29.203"
      data-html2canvas-ignore="true"
      class="system__Box-sc-1mjxo1d-0 jExBqO"
      ><title>Jungle</title><path
        fill="#e3ddbd"
        d="M69.225 19.211a.607.607 0 0 1 .255-.573l.062-.031a3.219 3.219 0 0 0 1.243-1.43l.005-.01c.043-.086.083-.165.121-.235a.59.59 0 0 1 .8-.261l.535.265 1.5.743.531.262a.555.555 0 0 1 .306.76 4.052 4.052 0 0 1-.309.572 10.47 10.47 0 0 1-1.118 1.42l-.167.179a4.687 4.687 0 0 1-.391.359 5.264 5.264 0 0 1-2.162 1.027q-.3.07-.619.116c-.362.034-.593-.192-.6-.648v-2.515zm0-11.695v-.774c0-.521.325-.684.627-.661 0 0 .127.018.294.059.092.022.183.048.274.073a6.413 6.413 0 0 1 1.981.959 6.346 6.346 0 0 1 .762.645 6.418 6.418 0 0 1 .87 1.069A5.913 5.913 0 0 1 75 12.063v2.47c0 .461-.2.666-.662.674h-4.453c-.459-.008-.657-.215-.66-.68v-2c.014-.441.214-.634.665-.64h.342c.53 0 .732-.254.7-.607a.347.347 0 0 0-.014-.058 2.339 2.339 0 0 0-1.268-1.394l-.065-.031c-.153-.06-.358-.172-.358-.642V7.516zm-7.11 4.548a5.908 5.908 0 0 1 .968-3.177 6.769 6.769 0 0 1 .874-1.059l.009-.01a6.533 6.533 0 0 1 .768-.648 6.422 6.422 0 0 1 1.964-.954c.17-.049.343-.092.518-.127a.431.431 0 0 1 .083-.009c.359 0 .595.214.595.674v2.4a.6.6 0 0 1-.345.636c-.01 0-.056.027-.066.031a2.309 2.309 0 0 0-1.276 1.4.3.3 0 0 0-.013.048.545.545 0 0 0 .6.621h.441a.611.611 0 0 1 .67.663v2c-.009.442-.2.643-.639.658h-.6a.554.554 0 0 0-.575.6v.537a2.437 2.437 0 0 0 1.385 2.244c.046.021.092.041.139.06a.615.615 0 0 1 .279.555v2.519c0 .473-.267.67-.6.641-.2-.031-.4-.071-.6-.116a6.083 6.083 0 0 1-2.731-1.4 5.919 5.919 0 0 1-1.851-4.5zM56.848.68a.61.61 0 0 1 .65-.676h2.637a.61.61 0 0 1 .65.681v20.748c0 .467-.2.674-.66.683h-2.62c-.457-.009-.655-.215-.66-.676zm-7.1 6.207c.013-.355.226-.629.716-.508a.7.7 0 0 1 .087.032c.008 0 .071.037.082.04s.271.161.4.237a2.38 2.38 0 0 0 .333.164.488.488 0 0 0 .174.021.4.4 0 0 0 .14-.026.419.419 0 0 0 .233-.229.787.787 0 0 1 .134-.193V6.42a.679.679 0 0 1 .079-.053.776.776 0 0 1 .3-.072h2.484a.561.561 0 0 1 .595.621v15.872a6.269 6.269 0 0 1-.017.679 6.734 6.734 0 0 1-1.792 3.84l-.068.076a5.493 5.493 0 0 1-.76.687 5.63 5.63 0 0 1-1.093.641c-.258.114-.528.218-.8.315a3.641 3.641 0 0 1-.635.173c-.325.036-.576-.168-.576-.6V26.08v-.09a.557.557 0 0 1 .3-.534l.03-.012a2.443 2.443 0 0 0 1.451-2.024c.008-.081.012-.162.012-.246v-1.077c0-.408-.129-.475-.279-.467a1.331 1.331 0 0 0-.426.174l-.217.129c-.011 0-.074.037-.082.041a.706.706 0 0 1-.087.032c-.489.121-.7-.153-.716-.508v-2.7a.51.51 0 0 1 .282-.493c.028-.012.058-.022.085-.034a2.45 2.45 0 0 0 1.422-2.254v-3.64a2.45 2.45 0 0 0-1.422-2.254c-.028-.013-.057-.023-.085-.035a.51.51 0 0 1-.282-.493zm-6.38 17.876l.53-.263 1.5-.743.535-.265a.59.59 0 0 1 .8.261c.038.07.078.148.122.234l.005.01a3.21 3.21 0 0 0 1.244 1.429l.062.031a.608.608 0 0 1 .254.572v2.516c-.005.456-.237.682-.6.648a7.225 7.225 0 0 1-.619-.116 5.258 5.258 0 0 1-2.162-1.027 4.412 4.412 0 0 1-.392-.359l-.167-.178a10.52 10.52 0 0 1-1.117-1.422 3.864 3.864 0 0 1-.308-.572.552.552 0 0 1 .316-.755zm-.732-12.413a5.976 5.976 0 0 1 1.869-4.491 5.673 5.673 0 0 1 .483-.4 5.927 5.927 0 0 1 1.575-.82 6.5 6.5 0 0 1 .67-.193c.193-.044.39-.079.592-.106.358-.036.579.171.588.591v2.606a.567.567 0 0 1-.269.523l-.093.037a2.394 2.394 0 0 0-1.446 2.25v3.7a2.394 2.394 0 0 0 1.446 2.249l.093.037a.567.567 0 0 1 .269.523v2.606c-.008.421-.229.628-.588.591q-.3-.041-.592-.106a6.343 6.343 0 0 1-.67-.192 5.928 5.928 0 0 1-1.575-.821 5.737 5.737 0 0 1-.483-.4 5.974 5.974 0 0 1-1.869-4.491zm-7.11-2.81V6.934c.009-.42.229-.627.588-.591.2.027.4.062.592.106a6.048 6.048 0 0 1 2.245 1.013 5.665 5.665 0 0 1 .482.4 5.973 5.973 0 0 1 1.87 4.492v9.1c-.007.433-.187.638-.6.664h-2.772a.556.556 0 0 1-.594-.6v-9.167a2.4 2.4 0 0 0-1.447-2.25c-.036-.015-.055-.024-.092-.037a.565.565 0 0 1-.269-.523zm-7.1-2.627a.561.561 0 0 1 .595-.621H31.506a.776.776 0 0 1 .3.072.678.678 0 0 1 .079.053v.005a.75.75 0 0 1 .135.193.419.419 0 0 0 .233.229.506.506 0 0 0 .314.005 2.4 2.4 0 0 0 .334-.164c.129-.075.4-.237.4-.237l.082-.04a.743.743 0 0 1 .087-.032c.489-.121.7.153.716.508v2.7a.51.51 0 0 1-.281.496c-.028.011-.058.022-.085.035a2.45 2.45 0 0 0-1.415 2.257v9.055c0 .45-.181.66-.6.687h-2.778a.562.562 0 0 1-.6-.62zm-7.094 11.9a.509.509 0 0 1 .281-.493l.086-.034a2.449 2.449 0 0 0 1.422-2.254V6.98c0-.449.181-.66.6-.687h2.784a.561.561 0 0 1 .595.619v14.58a.562.562 0 0 1-.594.622H24.019a.779.779 0 0 1-.3-.072.678.678 0 0 1-.079-.053.787.787 0 0 1-.134-.194.419.419 0 0 0-.233-.229.51.51 0 0 0-.315-.005 2.434 2.434 0 0 0-.333.164l-.4.236-.081.041a.745.745 0 0 1-.088.032c-.489.121-.7-.153-.715-.508zM14.22 6.957c.006-.433.187-.638.6-.664h2.781a.557.557 0 0 1 .595.6v9.168a2.392 2.392 0 0 0 1.446 2.249c.036.016.056.024.093.037a.569.569 0 0 1 .269.524v2.606c-.009.421-.229.627-.588.591a7.03 7.03 0 0 1-.592-.107 6.036 6.036 0 0 1-2.245-1.013 5.669 5.669 0 0 1-.483-.4 5.975 5.975 0 0 1-1.869-4.491zM7.12 18.94v-.09a.556.556 0 0 1 .3-.534l.03-.012A2.446 2.446 0 0 0 8.9 16.28c.007-.08.012-.162.012-.246v-9.36V.58A.6.6 0 0 1 9.564 0h2.671a.6.6 0 0 1 .654.594v15.053a6.265 6.265 0 0 1-.039.678 6.737 6.737 0 0 1-1.792 3.841l-.069.075a5.471 5.471 0 0 1-.76.687 5.608 5.608 0 0 1-1.093.641c-.258.115-.528.218-.8.315a3.626 3.626 0 0 1-.635.173c-.325.036-.576-.168-.576-.6v-2.013zM0 15.553a.581.581 0 0 1 .655-.66h2.664c.425.009.625.19.653.591v.619c0 .086.009.171.02.255a2.383 2.383 0 0 0 1.423 1.943l.065.025a.579.579 0 0 1 .3.578v2.526c0 .421-.21.662-.624.63a7.202 7.202 0 0 1-.585-.106 6.026 6.026 0 0 1-2.246-1.027 5.749 5.749 0 0 1-.475-.394 5.591 5.591 0 0 1-1.155-1.525 5.853 5.853 0 0 1-.414-1.028 6.8 6.8 0 0 1-.28-1.88v-.086z"
      ></path>
    </svg>
  </a>
  <a
    href={lang == "fr" ? "https://h-co.ca/" : "https://h-co.ca/en"}
    class="h-auto cursor-pointer"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="/hcoLogo.png"
      class="hover:brightness-0 hover:invert img-fluid h-12"
      alt="hco Logo"
    />
  </a>
  <a
    href={lang == "fr"
      ? "https://sismikimpact.com/fr"
      : "https://sismikimpact.com/en"}
    class="h-auto cursor-pointer"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="/sismkLogo.png"
      class="hover:brightness-0 hover:invert img-fluid h-8"
      alt="Sismik Logo"
    />
  </a>
  <a
    href={lang == "fr" ? "https://halte.dev/" : "https://halte.dev/en"}
    class="cursor-pointer"
    target="_blank"
    rel="noreferrer"
  >
    <picture>
      <source srcset="/halteLogo.webp" />
      <img
        src="/halteLogo.png"
        class="hover:brightness-0 hover:invert img-fluid h-8"
        alt="halte logo"
      />
    </picture>
  </a>
</div>

<style>
  div > a img {
    /* height: 40px !important; */
    object-fit: contain;
  }

  @media (max-width: 600px) {
    [src="/sismkLogo.png"] {
      height: 40px !important;
      transform: scale(0.9);
    }
  }
</style>
