---
import Layout from "./Layout.astro";
---

<!-- TODO add the md's stuff -->
<Layout lang="fr" path="/" title="" description="">
  <style is:global>
    main.single-blog {
      text-color: #fdf7e3 !important;
      max-width: 1300px !important;
      margin: auto !important;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      padding-top: 0 !important;
      margin-bottom: 100px !important;
    }

    .single-blog .svg-btn p {
      padding: 0px !important;
    }

    @media (min-width: 640px) {
      main.single-blog {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
        padding-top: 2.5rem !important;
      }
    }

    @media (min-width: 768px) {
      main.single-blog {
        padding-top: 2.5rem !important;
      }
    }

    .single-blog h1 {
      padding-top: 0 !important;
      padding-bottom: 2.5rem !important;
    }

    @media (min-width: 640px) {
      .single-blog h1 {
        padding-top: 2.5rem !important;
        padding-bottom: 2.5rem !important;
      }
    }

    .single-blog p {
      padding-bottom: 12px !important;
      padding-top: 12px !important;
    }

    @media (min-width: 640px) {
      .single-blog p {
        padding-bottom: 20px !important;
        padding-top: 20px !important;
      }
    }

    main.single-blog img {
      width: 100% !important;
      object-fit: cover !important;
    }

    @media (min-width: 640px) {
      main.single-blog img {
        height: 350px !important;
      }
    }

    @media (min-width: 768px) {
      main.single-blog img {
        height: 450px !important;
      }
    }

    @media (min-width: 1024px) {
      main.single-blog img {
        height: 650px !important;
      }
    }
  </style>

  <main class="single-blog">
    <slot />
  </main>
</Layout>
