---
import Layout from "./Layout.astro";
---

<Layout lang="fr" path="/">
  <style is:global>
    /* styles.css */

    main {
      text-color: #fdf7e3 !important;
      max-width: 1300px !important;
      margin: auto !important;
      padding-left: 4px !important;
      padding-right: 4px !important;
      padding-top: 0 !important;
      margin-bottom: 100px !important;
    }

    @media (min-width: 640px) {
      main {
        padding-left: 12px !important;
        padding-right: 12px !important;
        padding-top: 10px !important;
      }
    }

    @media (min-width: 768px) {
      main {
        padding-top: 10px !important;
      }
    }

    h1 {
      padding-top: 0 !important;
      padding-bottom: 10px !important;
    }

    @media (min-width: 640px) {
      h1 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
    }

    p {
      padding-bottom: 12px !important;
      padding-top: 12px !important;
    }

    @media (min-width: 640px) {
      p {
        padding-bottom: 20px !important;
        padding-top: 20px !important;
      }
    }

    /* styles.css */

    main img {
      width: 100% !important;
      margin-bottom: 12px !important;
    }

    @media (min-width: 640px) {
      main img {
        height: 350px !important;
        margin-bottom: 20px !important;
      }
    }

    @media (min-width: 768px) {
      main img {
        height: 450px !important;
      }
    }

    @media (min-width: 1024px) {
      main img {
        height: 650px !important;
      }
    }
  </style>

  <main>
    <slot />
  </main>
</Layout>
